<%- include("partials/header"); -%>
  <div class="form-container">
    <form action="/" method="POST">
      <input class="input" type="text" id="cityInput" name="cityName" placeholder="City Name" autocomplete="off" />
      <input type="submit" value="go">
    </form>
  </div>

  <%- include("partials/footer"); -%>